@font-face {
    font-family: russo;
    src: url("../fonts/Russo_one.ttf");
}

#main-menu-container {
	font-family: 'russo';
	position: relative;
	text-align: center;
	top: 100px;
	left: 30%;
	width: 40%;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 2rem;
	padding: 20px;
	padding-bottom: 0;
	max-height: 700px;
	color: white;
	padding-top: 10px;
	z-index: 1;
}

.loading {
    position: absolute;
    transition: 0.1s;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.loading-text {
    position: relative;
    color: white;
    font-family: 'russo';
    text-align: center;
    top: 68%;
    font-size: 80px;
}

.loading-sub-text {
    position: relative;
    color: white;
    font-family: 'russo';
    text-align: center;
    top: 68.5%;
    font-size: 20px;
}

.garage-title {
	/* font-weight: lighter; */
	text-transform: uppercase;
}

#house-menu {
	position: absolute;
	font-family: 'russo';
	top: 200px;
	left: 50px;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 8px 20px;
	padding-bottom: 0px;
	border-radius: 2rem;
	width: 300px;
	height: auto;
}

.menu-title {
	text-align: center;
}

#house-menu-content {
	border-top: solid 5px rgb(89, 226, 89);
	background: rgba(0, 0, 0, 0.3);
	position: relative;
	padding: 8px 20px;
	left: -20px;
	width: 100%;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

.house-menu-text {
	margin: 0;
	font-weight: lighter;
	font-size: 20px;
}

.house-menu-option {
	transition: 0.2s ease all 0s;
	border-radius: 100rem;
	position: relative;
	background: rgba(255, 255, 255, 0.1);
	padding: 5px 20px;
	margin: 16px 0px;
	left: 20px;
	width: calc(100% - 80px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
}

.car-class {
	position: absolute;
	top: 10px;
	right: 50px;
}

.house-name-car {
	position: absolute;
	left: 20px;
	font-style: italic;
	font-weight: lighter;
	bottom: 0px;
	color: rgb(139, 139, 139);
	font-size: 15px;
	margin: 0;
}

.force-font {
	font-family: 'russo';
	font-weight: 20 !important;
}

.green-plus-in-modal {
	color: white;
	cursor: pointer;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
	transition: 0.2s ease all 0s;
	border-radius: 100rem;
	padding: 8px 50px;
	background: rgb(120, 196, 97);
}

.green-plus-in-modal:hover {
	transition: 0.2s ease all 0s;
	padding: 8px 70px;
	background: rgb(91, 148, 74);
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5);
}

#item-container {
	position: relative;
	background: rgba(0, 0, 0, 0.2);
	width: calc(100% + 20px);
	padding: 8px 50px;
	margin: 0;
	left: -60px;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

#cars-to-transfer-item-container {
	position: relative;
	background: rgba(0, 0, 0, 0.2);
	width: calc(100% + 20px);
	padding: 8px 50px;
	margin: 0;
	left: -60px;
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
}

.house-menu-option:hover {
	transition: 0.2s ease all 0s;
	width: calc(100% - 40px);
	left: 0; 
	padding: 10px 20px;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.7);
}

.context-buttons-car {
	position: relative;
	width: 200px !important;
	margin: 0;
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: auto;
}

.option-active {
	transition: 0.2s ease all 0s;
	width: calc(100% - 40px);
	left: 0; 
	padding: 10px 20px;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.7);
}

#car-list-container {
	background: rgba(0, 0, 0, 0.3);
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	min-height: 100px;
	padding: 20px 0;
	position: relative;
	left: -20px;
	width: calc(100% + 40px);
}

.individual-car {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	left: 5%;
	width: 80%;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.4);
	transition: 0.2s ease all 0s;
	color: black;
	padding: 10px 20px;
	border-radius: 0.5rem;
	margin: 15px;
}

.individual-car:hover {
	transition: 0.2s ease all 0s;
	left: 2.5%;
	width: 85%;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 1);
}

.info-car {
	color: rgb(255, 255, 255);
	font-size: 25px;
	background: rgba(54, 136, 202, 0.9);
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
	padding: 10px 20px;
	border-radius: 100rem;
	transition: 0.2s ease all 0s;
	cursor: pointer;
}

.info-car:hover {
	transition: 0.2s ease all 0s;
	background: rgba(32, 82, 122, 0.9);
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5);
}

.transfer-car {
	color: rgb(255, 255, 255);
	font-size: 25px;
	background: rgb(120, 196, 97);
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
	padding: 10px 15px;
	border-radius: 100rem;
	transition: 0.2s ease all 0s;
	cursor: pointer;
}

.transfer-car:hover {
	transition: 0.2s ease all 0s;
	background: rgb(91, 148, 74);
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5);
}

.sell-car {
	color: rgb(255, 255, 255);
	font-size: 25px;
	background: rgba(199, 67, 67, 0.9);
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
	padding: 10px 20px;
	border-radius: 100rem;
	transition: 0.2s ease all 0s;
	cursor: pointer;
}

.sell-car:hover {
	transition: 0.2s ease all 0s;
	background: rgba(133, 44, 44, 0.9);
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5);
}

.green-plus {
	cursor: pointer;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.2);
	transition: 0.2s ease all 0s;
	border-radius: 100rem;
	padding: 8px 40px;
	background: rgb(120, 196, 97);
}

.green-plus:hover {
	transition: 0.2s ease all 0s;
	padding: 8px 80px;
	background: rgb(91, 148, 74);
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5);
}

.car-name {
	margin: 0;
	font-weight: lighter;
}

#return-menu-button {
	font-family: 'russo';
	position: absolute;
	top: -5px;
	left: 30px;
	transition: 0.2s ease all 0s;
	font-family: 'russo';
	border-radius: 100rem;
	font-size: 22px;
	padding: 8px 40px;
	margin: 10px;
	margin-top: 20px;
	color: white;
	border: 0;
	background: rgb(196, 97, 97);
	cursor: pointer;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.4);
	z-index: 100;
}

#return-menu-button:hover {
	transition: 0.2s ease all 0s;
	background: rgb(146, 73, 73);
	padding: 8px 50px;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 1);
}

#leave-menu-button {
	font-family: 'russo';
	position: fixed;
	right: 30px;
	transition: 0.2s ease all 0s;
	font-family: 'russo';
	border-radius: 100rem;
	font-size: 22px;
	padding: 8px 40px;
	margin: 10px;
	margin-top: 20px;
	color: white;
	border: 0;
	background: rgb(196, 97, 97);
	cursor: pointer;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.4);
	z-index: 100;
}

#leave-menu-button:hover {
	transition: 0.2s ease all 0s;
	background: rgb(146, 73, 73);
	padding: 8px 50px;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 1);
}

.modal-title {
	text-transform: uppercase;
	color:rgb(255, 50, 50);
}

.confirmation-message {
	font-size: 20px;
}

/* MODAL */

#sell-confirmation-modal {
	font-family: 'russo';
	color: black;
	background: white;
	position: fixed;
	z-index: 50;
	left: 50%;
	top: 30%;
	width: 30%;
	box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
	padding: 20px;
	border-radius: 2rem;
	transform: translateX(-50%);
	text-align: center;
}
#info-modal {
	font-family: 'russo';
	color: black;
	background: white;
	position: fixed;
	z-index: 50;
	left: 50%;
	top: 15%;
	width: 40%;
	box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
	padding: 20px 60px;
	padding-bottom: 0;
	border-radius: 2rem;
	transform: translateX(-50%);
	text-align: center;
}

.info-modal-title {
	margin-top: 0px;
	font-size: 30px;
	color: black;
}

.transfer-modal-title {
	margin-top: 0px;
	font-size: 30px;
	color: black;
}

.info-title {
	font-weight: lighter;
}

.info-value {
	font-weight: lighter;
}

.info-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#transfer-modal {
	font-family: 'russo';
	color: black;
	background: white;
	position: fixed;
	z-index: 50;
	left: 50%;
	top: 15%;
	width: 50%;
	max-height: 70%;
	overflow: hidden;
	box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
	padding: 20px;
	border-radius: 2rem;
	transform: translateX(-50%);
	padding-bottom: 0;
	text-align: center;
}

#modal-confirm {
	font-family: 'russo';
	position: relative;
	transition: 0.2s ease all 0s;
	font-family: 'russo';
	border-radius: 100rem;
	font-size: 22px;
	padding: 8px 40px;
	margin: 10px;
	margin-top: 20px;
	color: white;
	border: 0;
	background: rgb(120, 196, 97);
	cursor: pointer;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.4);
	z-index: 100;
}

#modal-confirm:hover {
	transition: 0.2s ease all 0s;
	background: rgb(90, 146, 73);
	padding: 8px 50px;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 1);
}

#modal-cancel {
	font-family: 'russo';
	position: relative;
	transition: 0.2s ease all 0s;
	font-family: 'russo';
	border-radius: 100rem;
	font-size: 22px;
	padding: 8px 40px;
	margin: 10px;
	margin-top: 20px;
	color: white;
	border: 0;
	background: rgb(196, 97, 97);
	cursor: pointer;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.4);
	z-index: 100;
}

#modal-cancel:hover {
	transition: 0.2s ease all 0s;
	background: rgb(146, 73, 73);
	padding: 8px 50px;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 1);
}

.button-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	bottom: -30px;
}
